* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Spotify";
}

:root {
  --body-bg: #000000;
}

@font-face {
  font-family: "Spotify";
  src: url("assets\\font\\Spotify Mix UI\\spotify_mix_ui_regular.otf")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--body-bg);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "nav nav"
    "left right";
  gap: 8px;
  margin: 0 8px;
  /* height: 100vh;
  width: 100vw; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 0 25px;
  grid-area: nav;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  margin-right: 8px;
}
.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 0;
  flex-shrink: 0;
}

.home-button img {
  display: block;
}

.search {
  gap: 10px;
  background: #1f1f1f;
  border-radius: 100px;
  padding: 10px 15px;
  cursor: pointer;
}

.right {
  gap: 10px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.right1 {
  gap: 15px;

  color: #b3b3b3 !important;
}
.right2 {
  width: 1.5px;
  height: 25px;
  background-color: white;
  margin: 0 10px;
}

.right3 {
  color: #b3b3b3 !important;
  gap: 30px;
  font-size: 12px;
}

.right3 button {
  color: #000000;
  padding: 13px 28px;
  font-size: 14px;
  border-radius: 24px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.install {
  gap: 10px;
}

/* main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "nav nav"
    "left right";
} */
.sidebar {
  grid-area: left;
}
.content {
  grid-area: right;
}
.sidebar,
.content {
  border-radius: 10px;
  padding: 15px;
}
.sidebar {
  position: relative;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}
.sidebar-top {
  width: 94%;
  font-weight: 700;
  padding: 10px 14px;
  letter-spacing: 0.7px;
  position: absolute;
  top: 0;
}

.sidebar-top button {
  gap: 10px;
  font-weight: 700;
  border-radius: 100px;
  padding: 10px 15px;
  letter-spacing: 0.7px;
  border: none;
  cursor: pointer;
}

/* .playlists > h1 {
  
} */
.cardContainer {
  margin-top: 10px;
}
.card {
  position: relative;
  width: 100%;
  /* border: 1px solid #ff0000; */
  /* border-radius: 10px; */
  /* padding: 10px; */
  /* margin: 10px; */
  cursor: pointer;
  background: transparent;
  z-index: 2;
}
.card-bg {
  width: 210px;
  padding: 10px;
  border-radius: 16px;
  background: transparent;
}
.card-bg:hover {
  background: rgba(255, 0, 0, 0.39);
  transition: all 0.25s ease-in-out;
  .card div.div-img-main div{
    opacity: 1;
  }
}
.div-img-main {
  width: 100%;
}
.card div.div-img-main {
  position: relative;
}
.card div.div-img-main > img {
  border-radius: 10px;
  width: 100%;
  align-self: center;
}
.card div.div-img-main div {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 14px;
  right: 10px;
  z-index: 1;
  background: #3be477;
  opacity: 0;
}
.card div.div-img-main div img {
  width: 80%;
}